@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&display=swap');
* {
    font-family:'Times New Roman', Times, serif;
}
body {
    margin:0px;
    background: rgb(163, 233, 190)
}
h1 {
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: black;
}
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
table, td, th {
    border: 6px solid black;
    
}
td, th{
    text-align: center;
    background-color: grey;
    color: white;
    padding: 10px;

}
a {
    display:flex;
    justify-content: center;
    margin-top:20px ;
}
button {
    margin: 50px;
    color: white;
    background-color: blue;
     font-weight: bold;
     border-radius: 8px;
     padding: 12px 25px;
}
button:hover {
    opacity: 0.6;
}
